<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-4.3.xsd ">
    
    <bean class="org.springframework.session.data.redis.config.annotation.web.http.RedisHttpSessionConfiguration">
    	<property name="maxInactiveIntervalInSeconds" value="600"></property>
    </bean>
    
    <!-- <bean class="org.springframework.session.web.http.DefaultCookieSerializer">
        <property name="cookieName" value="JSESSIONID"></property>
        <property name="cookiePath" value="/"></property>
        <property name="domainName" value="example.com"></property>
        <property name="domainNamePattern" value="^.+?\.(\w+\.[a-z]+)$"></property>
    </bean> -->

	<bean class="org.springframework.session.web.http.SessionEventHttpSessionListenerAdapter">
		<constructor-arg name="listeners">
			<list>
				<bean class="org.springframework.security.web.session.HttpSessionEventPublisher" />
			</list>
		</constructor-arg>
	</bean>
</beans>