<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:tx="http://www.springframework.org/schema/tx" 
    xmlns:jpa="http://www.springframework.org/schema/data/jpa" 
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-4.3.xsd 
    http://www.springframework.org/schema/tx 
    http://www.springframework.org/schema/tx/spring-tx-3.0.xsd 
    http://www.springframework.org/schema/data/jpa 
    http://www.springframework.org/schema/data/jpa/spring-jpa.xsd ">
    
    <!-- 配置数据源 -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="driverClass" value="#{config.mysql_driverClass}"></property>
		<property name="jdbcUrl" value="#{config.mysql_jdbcUrl}"></property>
		<property name="user" value="#{config.mysql_user}"></property>
		<property name="password" value="#{config.mysql_password}"></property>
		<property name="initialPoolSize" value="3"></property>   <!-- the default value is 3 -->
		<property name="minPoolSize" value="0"></property>   <!-- the default value is 3 -->
		<property name="maxPoolSize" value="120"></property>   <!-- the default value is 15 -->
		<property name="acquireIncrement" value="3"></property>   <!-- the default value is 3 -->
		<property name="maxStatements" value="100"></property>   <!-- both the maxStatements and maxStatementsPerConnection are 0, the cache mechanism is closed. the default value is 0 -->
		<property name="maxStatementsPerConnection" value="50"></property>   <!-- the default value is 0 -->
		<property name="maxIdleTime" value="1800"></property>   <!-- the default value is 0 -->
	</bean>
    
    <!-- 配置jpa实体管理器  -->
    <bean id="entityManager" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="persistenceXmlLocation" value="classpath:config/persistence.xml"></property>
		<property name="packagesToScan" value="com.skyline.entity"></property>
		<property name="jpaVendorAdapter">
  			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
       			<property name="generateDdl" value="true"></property>
       			<property name="databasePlatform" value="org.hibernate.dialect.MySQLDialect"></property>
   			</bean>
		</property>
		<property name="jpaProperties">
     		<props>
         		<prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
         	</props>
        </property>
	</bean>
    
    <!-- 启用Spring扫描并自动创建代理的功能   -->
    <jpa:repositories base-package="com.skyline.dao"  transaction-manager-ref="transactionManager" entity-manager-factory-ref="entityManager"/>
    
    <!-- 添加JPA事务管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
    	<property name="dataSource" ref="dataSource"></property>
    	<property name="entityManagerFactory" ref="entityManager"></property>
    	<property name="jpaDialect">
        	<bean class="org.springframework.orm.jpa.vendor.HibernateJpaDialect" />
    	</property>
	</bean>
	
	<!-- 开启事务注解支 -->
	<tx:annotation-driven transaction-manager="transactionManager" />
</beans>